@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-section">
    <div class="container">
        <div class="text-center wow fadeInUp">
            <div class="subhead">چرا ما را انتخاب کنید</div>
            <h2 class="title-section" style="text-align: center;">در کار خود <span class="marked">متخصص </span>هستیم</h2>
            <div class="divider mx-auto"></div>
        </div>

        <div class="row mt-5 text-center" ">
            <div class="col-lg-4 py-3 wow fadeInUp">
                <div class="display-3"><img src="../assets/img/SEO.png" width="90px" height="90px" alt=""></div>
                <h5>بازدهی بالا</h5>
                <p>با به کار گیری کارشناسان و متخصصین مجرب و کارآمد و علم روز دنیا برترین کیفیت ، محصول ، خدمات را به شما ارائه میدهیم</p>
            </div>
            <div class="col-lg-4 py-3 wow fadeInUp">
                <div class="display-3"><img src="../assets/img/Price.png" width="120px" height="120px" alt=""></div>
                <h5>قیمت مناسب</h5>
                <p>استفاده از قطعات مقرون به صرفه و با کیفیت</p>
            </div>
            <div class="col-lg-4 py-3 wow fadeInUp">
                <div class="display-3"><img src="../assets/img/time.png" width="120px" height="120px" alt=""></div>
                <h5>تحویل فوری</h5>
                <p>زمانبندی مناسب برای ارائه بهترین خدمات در کمترین زمان</p>
            </div>
        </div>
    </div> <!-- .container -->
</div> <!-- .page-section -->




<div class="page-section bg-light text-right">
    <div class="container">

        <div class="owl-carousel wow fadeInUp" id="testimonials">
            <div class="item">
                <div class="row align-items-center">
                    <div class="col-md-6 py-3">
                        <div class="testi-image">
                            <img src="../assets/img/person/person_1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 py-3">
                        <div class="testi-content">
                            <p>کارشناسی مهندسی برق - الکترونیک قدرت از دانشگاه تبریز<br> کارشناسی مهندسی برق - قدرت دانشگاه زنجان<br>تخصص‌ها: طراحی  سوییچینگ، طرای مدار و مهندسی معکوس، طراحی دیجیتال و برنامه نویسی میکروکنترلرها، اتوماسیون صنعتی</p>
                            <div class="entry-footer">
                                <strong>امیررضا فتحی</strong> &mdash; <span class="text-grey">رئیس هیئت مدیره</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="row align-items-center">
                    <div class="col-md-6 py-3">
                        <div class="testi-image">
                            <img src="../assets/img/person/person_2.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 py-3">
                        <div class="testi-content">
                            <p>کارشناسی مهندسی برق - الکترونیک قدرت از دانشگاه تبریز<br> کارشناسی مهندسی برق - مخابرات دانشگاه تهران<br>تخصص‌ها:مدارهای مخابراتی، بردهای فرکانس بالا، هوشمند سازی، الکترونیک قدرت اتوماسیون صنعتی</p>
                            <div class="entry-footer">
                                <strong>هومن سلمانی</strong> &mdash; <span class="text-grey">مدیر عامل</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div> <!-- .container -->
</div> <!-- .page-section -->
