
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-section text-right" style="direction: rtl;">
    <div class="container text-right" style="direction: rtl;">
        <div class="row align-items-center text-right" style="direction: rtl;">
            <div class="col-lg-6 text-right py-3 wow fadeInUp" style="direction: rtl;">
                <h2 class="title-section">با ما در ارتباط باشید</h2>
                <div class="divider"></div>
                <p>راه های ارتباطی با ما</p>

                <ul class="contact-list text-right" style="direction:rtl ;">
                    <li>
                        <div class="icon"><span class="mai-location"></span></div>
                        <div class="content text-right" style="direction:rtl ;">بزرگراه اشرفی اصفهانی،گلستان 10، پلاک19</div>
                    </li>
                    <li>
                        <div class="icon"><span class="mai-mail"></span></div>
                        <div class="content text-right" style="direction:rtl ;"><a href="#">info@BarkavTavan.com</a></div>
                    </li>
                    <li>
                        <div class="icon "><span class="mai-call"></span></div>
                        <div class="content text-right" style="direction:rtl ;"><a href="#">02144048044</a></div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 py-3 wow fadeInUp">
                <div class="subhead">تماس با ما</div>
                <h2 class="title-section">پیام ارسال کنید</h2>
                <div class="divider"></div>

                <form action="#">
                    <div class="py-2">
                        <input type="text" class="form-control" placeholder="نام و نام خانوادگی">
                    </div>
                    <div class="py-2">
                        <input type="text" class="form-control" placeholder="ایمیل">
                    </div>
                    <div class="py-2">
                        <textarea rows="6" class="form-control" placeholder="لطفاً پیام خود را بنویسید"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary rounded-pill mt-4">ارسال پیام</button>
                </form>
            </div>
        </div>
    </div> <!-- .container -->
</div> <!-- .page-section -->
