@{
    ViewData["Title"] = "Home Page";
}

    
<div class="page-banner home-banner" style="direction:rtl ;">
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-lg-6 py-3 wow fadeInUp">
                <h1 class="mb-4">شرکت مهندسی  بارکاو توان</h1>
                <p class="text-lg mb-5">شرکت بارکاو توان در طیف مهندسی برق فعالیت‌های گسترده‌ی شامل  مدیریت و کنترل پروژه‌های بزرگ تحقیقاتی، عملیاتی، طراحی سخت‌افزار و نرم‌افزارهای الکترونیکی، طراحی و نصب، راه اندازی و نگهداری سیستم‌های پیشرفته الکترونیکی و سیستم‌های هوشمند است.</p>

                <a asp-controller="About" asp-action="aboutus" class="btn btn-primary">اطلاعات بیشتر</a>
                <!-- <a href="#" class="btn btn-outline border text-secondary">اطلاعات بیشتر</a> -->
                <!-- <a href="#" class="btn btn-primary btn-split ml-2">Watch Video <div class="fab"><span class="mai-play"></span></div></a> -->
            </div>
            <div class="col-lg-6 py-3 wow zoomIn">
                <div class="img-place">
                    <img src="../assets/img/bg_img_1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="page-section features" style="direction:rtl ;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4 py-3 wow fadeInUp">
            <div class="d-flex flex-row">
              <div class="img-fluid mr-3">
                <img src="../assets/img/PCB.png" width="120px" height="60px" alt="">
              </div>
              <div>
                <h4>طراحی PCB</h4>
                <p class="service text">طراحی مدارات الکترونیک آنالوگ و دیجیتال، مهندسی معکوس برد</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 py-3 wow fadeInUp">
            <div class="d-flex flex-row">
              <div class="img-fluid mr-3">
                <img src="../assets/img/MCU.png" width="120px" height="60px" alt="">
              </div>
              <div>
                <h4>طراحی دیجیتال</h4>
                <p class="service text">برنامه نویسی انواع میکروکنترلرها و FBGAها</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 py-3 wow fadeInUp">
            <div class="d-flex flex-row">
              <div class="img-fluid mr-3">
                <img src="../assets/img/Driver.png"width="120px" height="60px" alt="">
              </div>
              <div>
                <h4>درایورهای صنعتی</h4>
                <p class="service text">ساخت انواع مدارات الکترونیک قدرت و سوییچینگ و درایورها</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 py-3 wow fadeInUp">
            <div class="d-flex flex-row">
              <div class="img-fluid mr-3">
                <img src="../assets/img/software.png" width="120px" height="60px" alt="">
              </div>
              <div>
                <h4>نرم افزار</h4>
                <p class="service text">ساخت نرم افزار جهت ارتباط سخت افزار با کامپیوتر و دیتابیس</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 py-3 wow fadeInUp">
            <div class="d-flex flex-row">
              <div class="img-fluid mr-3">
                <img src="../assets/img/Atuomation.png" width="120px" height="60px" alt="">
              </div>
              <div>
                <h4>اتوماسیون صنعتی</h4>
                <p class="service text">راه اندازی و ساخت تجهزات اتوماسیون صنعتی، مانیتورینگ و برنامه نویسی PLC</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 py-3 wow fadeInUp">
            <div class="d-flex flex-row">
              <div class="img-fluid mr-3">
                <img src="../assets/img/Atuomation2.png"width="120px" height="60px" alt="">
              </div>
              <div>
                <h4>هوشمند سازی</h4>
                <p class="service text">سیستم­‌های هوشمند اتوماسیونمبتنی بر نت</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 py-3 wow fadeInUp">
            <div class="d-flex flex-row">
              <div class="img-fluid mr-3">
                <img src="../assets/img/Counseling.png" width="120px" height="60px" alt="">
              </div>
              <div>
                <h4>آموزش و مشاوره</h4>
                <p class="service text">مشاوره در حوزه صنعت برق و الکترونیک و آموزش تخصصی نیروها</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 py-3 wow fadeInUp">
            <div class="d-flex flex-row">
              <div class="img-fluid mr-3">
                <img src="../assets/img/Buy.png" width="120px" height="60px" alt="">
              </div>
              <div>
                <h4>تامین قطعات</h4>
                <p class="service text">تامین قطعات و تجهیزات حوزه صنعت برق و الکترونیک</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 py-3 wow fadeInUp">
            <div class="d-flex flex-row">
              <div class="img-fluid mr-3">
                <img src="../assets/img/support.png"width="120px" height="60px" alt="">
              </div>
              <div>
                <h4>پشتیبانی</h4>
                <p class="service text">پشتیبانی 24 ساعته و ضمانت محصولات</p>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- .container -->
    </div> <!-- .page-section -->


<div class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 py-3 wow fadeInLeft">
                <h2 class="title-section">چشم انداز شرکت  <span class="marked">بارکاو توان</span> </h2>
                <div class="divider"></div>
                <p class="mb-5">
                    ایجاد بازوی اجرایی ، طراحی ، خدماتی و مشاوره های توانمند قابل اعتماد در صنعت مهندسی برق برای تحقق استراتژی های کارآمد ، بومی سازی تکنولوژی ، پیاده سازی ایده های نو و خلاقانه ، ایجاد محصولات و خدمات برتر

                </p>
                <a asp-controller="About" asp-action="aboutus" class="btn btn-primary">اطلاعات بیشتر</a>
            </div>
            <div class="col-lg-6 py-3 wow zoomIn">
                <div class="img-place text-center">
                    <img src="../assets/img/bg_img_3.png" alt="">
                </div>
            </div>
        </div>
    </div> <!-- .container -->
</div> <!-- .page-section -->